body{
    background-color: #661717;
    font: 18px Arial sans-serif;
    color: #270707;
}
section{
    background-color: #C7B7B7;
    padding: 10px 30px;
    margin: 2%;
}
h1{
    font-size: 300%;
    padding-left: 35%;
}
h2{
    font-size: 150%;
    padding-left: 5%;
}
a{
    color: #580e51;
}
p{
    margin: 20px;
}
b{
    font-style: italic;
}
#contacts{
    margin: 0;
    padding: 10px;
}
.quote{
    border: dotted #270707;
}