body{
    background-color: #661717;
    font: 18px Arial sans-serif;
    color: #270707;
}
section{
    background-color: #C7B7B7;
    padding: 10px 30px;
    margin: 2%;
}
h1{
    font-size: 300%;
    text-align: center;
}
h2{
    font-size: 150%;
    padding-left: 5%;
}
a{
    color: #580e51;
}
p{
    margin: 20px;
}
b{
    font-style: italic;
}
img{
    float: left;
    margin: 2%;
    width: 20%;
}
#contacts{
    margin: 0;
    padding: 10px;
    text-align: center;
}
#contref{
    color: #580e51;
}
.quote{
    border: dotted #270707;
}
.aboutme{
    width: 70%;
    float: right;
    margin: 2%;
}
.clearfix{
    height: 0px; 
    clear: both; 
} 
.achievements{
    width: 30%;
    margin-top: 0%;
    margin-bottom: 0%;
}
.tanimal{
    width: 60%;
    margin-top: 0%;
    margin-bottom: 0%;
}
.ach_and_an{
    display: flex;    
}
.hcont{
    text-align: center;
}
.cbuttons{    
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
}
#cont_button{
    background-color:  rgb(68, 18, 18);
    color: white;
    font-size: 40px;
    width: 30%;
    height: 60px;
}
#popUpCont{
    display: none;
    position: fixed;
    z-index: 1;
    width: 40%;
    height: 25%;
    bottom: 40%;
    left: 28%;   
    background-color:#C7B7B7;
    border-style: double;
    border-color: #270707;
    border-width: 5px;
}
#cont_close{
    background-color: #C7B7B7;
}